<div class="row bookdate-box">
	<div class="span7">
		<h2>注册</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f| %>
		      <%= render "shared/error_messages", :target => resource %>
				<%= f.input :email,  :placeholder => "foo@bar.com" 	%>
			
				<%= f.input :gender,:item_wrapper_class => 'inline', :input_html => { :class => 'inline' }, :collection => [[0, '男'], [1, '女']], :label_method => :last, :value_method => :first, :as => :radio %>
		       

				<%= f.input :password %>
				<%= f.input :password_confirmation %>
				<%= f.input :nickname %>

		<div class="form-actions">
			<div><%= f.submit "注册", :class => 'btn btn-primary', 'data-disable-with' => '注册中...' %></div>
		</div>
		<% end %>

	</div>
	<div class="span4">
				<%= render "devise/shared/links" %>

	</div>
</div>




