<table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody><tr mc:repeatable="">
<td>

<div mc:hideable=""><!-- MC Hideable -->
<table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody><tr mc:repeatable="">
<td>

<!-- Empty Table -->
<table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
	<tbody><tr>
		<td width="510" height="25" style="font-size: 0px; line-height: 1px;">&nbsp;
		</td>
	</tr>
</tbody></table><!-- End 1px Border -->

<!-- Image Left, Text Right -->
<table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
	<tbody><tr>
		<td width="29"></td>
		<td width="172" valign="top">
			
			<!-- Start Image Right ( 1px Border Top -->																											<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="172" height="1" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
			</tbody></table><!-- End 1px Border Top -->
			
			<!--  5px Border Top -->
			<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="1" height="5" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="206" height="5" bgcolor="#ffffff" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="1" height="5" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
			</tbody></table><!-- End 1px Border Top -->
			
			<!--  Image Left nr. 4 -->
			<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="1" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="5" bgcolor="#ffffff" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="160" bgcolor="#ffffff" style="line-height: 1px;">
						<a href="#"><img mc:edit="image_4" src="<%= @avatar %>!160x120 " alt="" border="0" style="display: block;"></a>
					</td>
					<td width="5" bgcolor="#ffffff" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="1" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
			</tbody></table><!-- End Image Left nr. 4 -->
			
			<!--  5px Border Bottom -->
			<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="1" height="5" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="206" height="5" bgcolor="#ffffff" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
					<td width="1" height="5" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
			</tbody></table><!-- End 1px Border Bottom -->
			
			<!-- 1px Border Bottom -->
			<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="172" height="1" bgcolor="#d2d2d1" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
			</tbody></table><!-- End 1px Border Bottom -->
			
			<!-- Shadow Images -->
			<table width="172" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td width="172" bgcolor="#ffffff" style="line-height: 1px;">
						<img src="http://www.premiumstuff.net/demo/markdown/live_preview/structure_two/blue_light/images/small_shadow.jpg" alt="" border="0" style="display: block;">
					</td>
				</tr>
			</tbody></table>

			
		</td>
		<td width="32"></td>
		<td width="208" valign="top">
			
			<!-- Start Text Left ( Headline ) -->
			<table width="208" border="0" cellpadding="0" cellspacing="0" align="center">
				<tbody><tr>
					<td mc:edit="headline_right" width="208" bgcolor="#ffffff" style="font-size: 12px; color: #6d6e71; font-weight: bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 24px;" valign="top">来自<a href="http://www.ibookwish.com/users/<%=  @from_user_name %>" style="text-decoration: none; color: #6d6e71;"><%=  @from_user_name %></a>的私信
					</td>
				</tr>
				<!-- Text Left -->
				<tr>
					<td mc:edit="text_right" width="208" bgcolor="#ffffff" style="font-size: 12px; color: #6f6f6f; font-weight: normal; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 20px;" valign="top">"<%= @body %>"
					</td>
				</tr>
				<tr>
					<td width="208" height="10" style="font-size: 0px; line-height: 1px;">&nbsp;</td>
				</tr>
				<tr>
					<td mc:edit="readmore" width="208" bgcolor="#ffffff" style="font-size: 12px; color: #08b3cc; font-weight: Bold; text-align: left; font-family: Helvetica, Arial, sans-serif; line-height: 20px;"><a href="#" style="text-decoration: none; color:#4C4C4C;">发送于 <%= @created_at %></a>
					</td>
				</tr>

			</tbody></table>

			
		</td>
		<td width="29"></td>
	</tr>
</tbody></table><!-- End Image Left, Text Right -->

<!-- 1px Border -->
<table width="510" border="0" cellpadding="0" cellspacing="0" align="center">
	<tbody><tr>
		<td width="510" height="25" style="font-size: 0px; line-height: 1px;">&nbsp;
		</td>
	</tr>
	<tr>
		<td><table align="center" border="0" cellpadding="0" cellspacing="0" width="60%" style="background-color: rgb(233, 92, 65); font-family: Arial; padding-top: 15px; padding-bottom: 15px; "><tbody><tr><td align="center" valign="middle" style="font-size: small; font-family: arial; "><a href="http://www.ibookwish.com/notifications/private" target="_blank" style="color: rgb(255, 255, 255); font-size: 26px; font-weight: bold; text-decoration: none; ">回复TA</a></td></tr></tbody></table>
		<br>
<span style="color:rgb(76,76,76);font-family:arial,sans-serif;font-size:13px;line-height:24px">这是一封系统自动发送的邮件，请不要直接回复。 如有任何问题，请<a href="mailto:sanvibyfish@ibookwish.com" style="color:rgb(96,96,96);word-wrap:break-word!important" target="_blank">联系我们</a></span>
	</td>
	</tr>
		<tr>
		<td width="510" height="1" bgcolor="#dedede" style="font-size: 0px; line-height: 1px;">&nbsp;
		</td>
	</tr>
</tbody></table><!-- End 1px Border -->

</td>
</tr>
</tbody></table></div><!-- End MC Hideable -->

</td>
</tr>
</tbody></table>