<%= simple_form_for [:cpanel,@post], :html => { :class => 'form-horizontal' }  do |f| %>
    
  <%= f.input :title %>
  <%= f.input :image , :hint => "#{image_tag @post.image, :width => '60'}" %>
  <%= f.input :isbn %>
  <%= f.input :author %>
  <%= f.input :publisher %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :uploader_secure_token %>
  <%= f.input :dream %>
  <%= f.input :account, :collection => User.all, :as => :select, :selected => f.object.account_id ,:label_method => :name, :value_method => :id %>
  <%= f.input :coordinates, :input_html => { :value => "#{display_latlng_tag @post.coordinates}"} %>
  <%= f.input :location,  :collection => Location.all, :as => :select, :selected => f.object.location_id%>
  <%= f.input :address %>


    <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <div class="text_field">
        <%= f.hidden_field :tag_names, :value => @post.tags.map(&:name).join(',') %>
      <ul id="post_tags">
      </ul> 
      </div>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cpanel_posts_path, :class => 'btn' %>
  </div>
<% end %>
