<div id="cpanel_post" class="form bookdate-box">

<%= simple_form_for([:cpanel,@post]) do |f| %>
  <%= render "/shared/error_messages", :target => @post  %>
  <fieldset>
    <legend><%= t("common.edit") %></legend>
      <%= f.input :isbn %>
      <%= f.input :author %>
      <%= f.input :title %>
      <%= f.input :publisher %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :dream %>
      <%= f.input :address %>
      <%= f.input :rating_body %>
      <%= f.input :rating %>
      <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary" %> <%= link_to t("common.cancel"), cpanel_posts_path , :class => "btn"%>
    </div>
  </fieldset>
<% end %>
</div>