<%= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_cpanel_post_path(@post), :class => "btn btn-small btn-success" %>
  <%= link_to '返回', cpanel_posts_path, :class => "btn btn-small" %>
</div>
<div id="cpanel_post">
    <p>
    <b>Isbn:</b>
    <%= @post.isbn %>
  </p>
    <p>
    <b>Author:</b>
    <%= @post.author %>
  </p>
    <p>
    <b>Title:</b>
    <%= @post.title %>
  </p>
    <p>
    <b>Publisher:</b>
    <%= @post.publisher %>
  </p>
    <p>
    <b>Price:</b>
    <%= @post.price %>
  </p>
    <p>
    <b>Description:</b>
    <%= @post.description %>
  </p>
    <p>
    <b>Dream:</b>
    <%= @post.dream %>
  </p>
    <p>
    <b>Address:</b>
    <%= @post.address %>
  </p>
    <p>
    <b>Rating body:</b>
    <%= @post.rating_body %>
  </p>
    <p>
    <b>Rating:</b>
    <%= @post.rating %>
  </p>
  </div>