<div class="row bookdate-box">
	<div class="span7">
		<h2>申请内测</h2>

		<%= simple_form_for @apply_for_test, :url => iwant_user_save_users_path, :html => { :class => 'form-horizontal' } do |f| %>
		      <%= render "shared/error_messages", :target => @apply_for_test %>
				<%= f.input :email,  :placeholder => "foo@bar.com" 	%>
				<%= f.input :name %>

		<div class="form-actions">
			<div><%= f.submit "申请内测", :class => 'btn btn-primary', 'data-disable-with' => '申请中...' %></div>
		</div>
		<% end %>

	</div>
</div>




