<div class="iwant span6 offset3">
            <h1><span class="bold">书愿网</span>即将到来</h1>
            <h4>借出一本书，完成一个愿</h4>
            <p class="slogon"><small>——以书相识，以愿相知</small></p>
            <h3>输入你的邮箱申请内测账号</h3>

            <div id="signup">
            	<%= form_for @apply_for_test, :url => iwant_user_save_users_path, :html => { :class => 'form-inline' } do |f| %>
            	<%= render "shared/error_messages", :target => @apply_for_test %>
                <form id="form" class="form-inline" novalidate="novalidate">
                	<%= f.text_field :email,  :placeholder => "这里输入你的邮箱" ,:class => "input-xlarge email"	%>
                    <br>
                    <p style="padding:10px;">
                    <%= f.submit "申请内测", :class => 'btn btn-warning', 'data-disable-with' => '申请中...' %>
                    <%= link_to "已有账号？" , "/users/sign_in" , :class => 'btn btn-warning'%></p>
                    
                    <small>* 我们会在确认后给你发送注册邀请</small>
                <% end %>
            </div>
            <h5><small>© 2012 Company</small></h5>
</div>





