<div id="cpanel_comment" class="form bookdate-box">

<%= simple_form_for([:cpanel,@comment]) do |f| %>
  <%= render "/shared/error_messages", :target => @comment  %>
  <fieldset>
    <legend><%= t("common.edit") %></legend>
      <%= f.input :body %>
      <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary" %> <%= link_to t("common.cancel"), cpanel_comments_path , :class => "btn"%>
    </div>
  </fieldset>
<% end %>
</div>