<div class="row bookdate-box">
	<div class="span8">
		<h2>注册新用户</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f| %>

  <%= render "shared/error_messages", :target => resource %>

  <%= f.input :email, :disabled => true %>
  <%= f.hidden_field :invitation_token %>

  <%= f.input :gender, :item_wrapper_class => 'inline',  :collection => [[0, '男'], [1, '女']], :label_method => :last, :value_method => :first, :as => :radio %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :name %>

  		<div class="form-actions">
			<div><%= f.submit "注册", :class => 'btn btn-primary', 'data-disable-with' => '注册中...' %></div>
		</div>
<% end %>



	</div>
</div>




