<%%= render 'base' %>
<h1><%%= t("mongoid.models.<%= file_name %>") + "(#{@count})" %></h1>
<div id="<%= plural_table_name %>">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>编号</td>
<% attributes.each do |attr| -%>
      <td><%%= t("mongoid.attributes.<%= file_name %>.<%= attr.name %>") %></td>
<% end -%>
      <td>创建时间</td>
      <td class="opts"></td>
    </tr>
    <%% @<%= plural_file_name %>.each do |item| %>
    <tr class="<%%= cycle("info","even") %>">
      <td><%%= item.id %></td>
<% attributes.each do |attr| -%>
      <td><%%= item.<%= attr.name %> %></td>
<% end -%>
      <td><%%= l(item.created_at, :format => :long) %></td>
      <td>
        <%%= link_to "修改", edit_<%= singular_table_name %>_path(item.id), :class => "btn btn-mini btn-primary" %>
        <%%= link_to "删除", <%= singular_table_name %>_path(item.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <%% end %>
  </table>
</div>
<%= paginate @<%= plural_file_name %> %>
<div class="tools">
  <a href="<%%= new_<%= singular_table_name %>_path %>" class="btn btn-small btn-success">新建</a>
</div>
