<%= render 'base' %>
<h1><%= t("mongoid.models.apply_for_test") + "(#{@count})" %></h1>
<div id="cpanel_apply_for_tests">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>编号</td>
      <td><%= t("mongoid.attributes.apply_for_test.email") %></td>
      <td><%= t("mongoid.attributes.apply_for_test.name") %></td>
      <td><%= t("mongoid.attributes.apply_for_test.state") %></td>
      <td>创建时间</td>
      <td class="opts"></td>
    </tr>
    <% @apply_for_tests.each do |item| %>
    <tr class="<%= cycle("info","even") %>">
      <td><%= item.id %></td>
      <td><%= item.email %></td>
      <td><%= item.name %></td>
      <td><%= raw(state(item.state)) %></td>
      <td><%= l(item.created_at, :format => :long) %></td>
      <td>
        <%= link_to "邀请", "/cpanel/apply_for_tests/#{item.id}/invite" , :class => "btn btn-mini" %>
        <%= link_to "修改", edit_cpanel_apply_for_test_path(item.id), :class => "btn btn-mini btn-primary" %>
        <%= link_to "删除", cpanel_apply_for_test_path(item.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<%= paginate @apply_for_tests %>
<div class="tools">
  <a href="<%= new_cpanel_apply_for_test_path %>" class="btn btn-small btn-success">新建</a>
</div>
