<div id="betaModal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3><%= @post.title %></h3>
    </div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="span4">
            <div class="logowrapper">
                <%= image_tag @post.image,:class => "logoicon img-polaroid",:alt => @post.title %>
      
            </div>
            </div>
            <div class="span8 book-content">
             <p>作者:
                <%= @post.author %>
             </p>
              <p>出版社:
                <%=  @post.publisher %>
             </p>
               <p> 价钱:
                <%= @post.price  %>
             </p>
                <p>简介:
                <%= @post.description  %>
             </p>


            </div>
        </div>
    </div>
</div>
</div>