<div class="span6">
<%= render "posts/new_step" , :step => step %>

<% if step == 1 %>
<div class="step-body" id="step1">
    <div id="step-error"></div>
     <span class="isbn-body">
      <input type="text" id="post_isbn" placeholder = "输入书籍的ISBN号码" style="margin-bottom: 0;margin-top: 10px;">
      <input type="button" data-disable-with ="提交中..." value="下一步" class="btn btn-primary" id="get_book_button" 
      onclick="javascript:Post.get_book_click();" style="margin-top: 10px;">
    </span>
     <div class="isbn-image"><%= image_tag "ISBN.jpg" %></div>
</div>
<% elsif  step == 2  %>
<div class="step-body"  id="step2">
    <div id="step-error"></div>
     <span class="book-body">
      <%= form_for @post, :remote => true do |f| %>
      <%= f.text_area :dream, :class => 'text_field',:placeholder => "你想要对方帮你做什么" , :rows => '3', :class => "content" %>
      <%= f.hidden_field :tag_names, :value => tag_name_tag(book['tags'])  %>
      <input type="submit" data-disable-with ="提交中..." 
      style="margin-top:10px;"
      value="下一步" class="btn btn-primary" id="save_post_button" 
    />
     <div class="book-image">
       <%= render "content", :book => book %>
     </div>
     <% end %>
    </span>
</div>
<% else %>
<script type="text/javascript">
   $(document).ready(function() {
      $("#next_push").fancybox()
   });
</script>
<p>上架成功</p>
<p>《<%= post.title  %>》已经上架了，有人想借时，您会收到邮件通知～</p>
<p><%= link_to "继续借出", new_post_path, :id => "next_push" , :class => "btn btn-primary"  %><%= link_to "查看该书", post_path(post), :class => "btn btn-primary" , :style => "margin-left:10px;" %></p>
<% end %>
</div>



 
