<div class="bookdate-box width-full" id="node_info">
      <%= render "node_info" %>
</div>

<div class="row-fluid"  >
      <div id="posts-container">
          <%= render @posts %>
    </div>
    <div>
    <% if action_name == "near_me"  %>
     	<%= paginate @posts,:params => {:controller => 'posts', :action => 'get_posts', :action_name => action_name}  %>
    <%  else %>
		<%= paginate @posts,:params => {:controller => 'posts', :action => 'get_posts'}  %>
    <% end %>
</div>


<%= render "location", :locations => @locations %>


</div>