<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<div class="row">
	<div class="span8">
		<div class="container-fluid bookdate-box ">
			<div class="post-detail">
				<div class="infos">
					<div class="pull-left">
						<%= user_avatar_tag(@post.user, :style => "48x48") %>
					</div>
					<div class="title">
						<h1><%= @post.title %></h1>
					</div>
					<div class="byline">
						<span class="byuser">来自<%= link_to @post.user.name, user_path(@post.user) %></span>
						<span class="bytime"><%= distance_of_time_in_words(@post.created_at,Time.now) %>前发布</span>
					</div>
				</div>
				<div class="content">
						<div class="image">
							<a href="#betaModal" data-toggle="modal">
								<%= image_clip @post.image , :style => "360x360"%>
							</a>
	</div>
				<div class="info">

					<table>
						<tbody>
							<tr>
								<td><span
						 class="label label-important">我借出</span></td>
								<td><%= link_to @post.title,"#betaModal", "data-toggle" => "modal", :rel => 'tooltip', :title =>'点击查看更多图书详情'  %></td>
							</tr>
							<tr>
								<td><span
						 class="label">城市</span></td>
								<td><%= @post.location.name %></td>
							</tr>
							<tr>
								<td><span 
						 class="label label-warning">我想要</span></td>
								<td><%= @post.dream %></td>
							</tr>
							<tr>
								<td><span
						 class="label label-inverse">微标签</span> </td>
								<td> <span class="tags">
						 	
	<% @post.tags.each do |tag|  %>
		<span class="tag"><%= link_to(raw("<span class='badge badge-info'>#{tag.name}</span>"), tag_post_path(tag)) %> </span>
	<% end %>
						 </span></td>
							</tr>

				<% if @post.state == Post::STATE[:success] %>
				<tr>
					<td>
						<span rel="twipsy" "data-original-title" = "借出你的图书"
						 class="label label-info  ">微评价</span>
					</td>
					<td> <span class="state"> <%= @post.rating_body %><%= raw post_rating_tag(@post.rating) %></span></td>
						
				</tr>	
				<tr>
					<td>
						<span rel="twipsy" "data-original-title" = "借出你的图书"
						 class="label label-success  ">微状态</span>
					</td>
					<td>
						 <span class="state"> <%= post_state_tag @post.state %></span>
					</td>
				</tr>
				<% end %>
				<tr>
					<td><span
						 class="label label-inverse">分享</span></td>
					<td><%= social_share_button_tag(@post.title) %></td>
				</tr>
						</tbody>
					</table>
				</div>
			
				</div>
				<div class="action">
						<% unless @post.wish_user_ids.include?(current_user.id) || @post.user.id == current_user.id || @post.state == Post::STATE[:success] || @post.complete_user? %>
					<%= form_for(@post,:as => :post , :url => complete_wish_post_path(@post), :html => { :class => 'form-horizontal', :id => "complete_wish_form" }, :method => :post) do |f| %>
		      <%= render "shared/error_messages", :target => @post %>
						<a href="javascript:void(0)" id="btn_complete" class="btn btn-success btn-large" >
							我想借</a>
					<% end %>
					<% end %>
				</div>


			</div>

		</div>

		<%= render :partial => "think_like_books", :think_like_books => @think_like_books %>
		
	<% if @post.comments.size == 0 %>
					<div class="dream alert alert-info" id="comments_nil_display">
						还不赶快说两句~
					</div>
	<% end %>


	<div class="bookdate-box" id="pin_comments" <%= "style=display:none;" if @post.comments.size == 0 %>>
	<%= render :partial => "comments/comment", :collection => @post.comments %>
	</div>

	<%= render :partial => "comments/comment_new", :post => @post, :comment => @comment %>



	</div>

	<div class="span4">
		<div class="bookdate-box">
			<h4>地图</h4>
			<div id="post-map" data-lat="<%= @post.coordinates[0] %>" data-lng= "<%= @post.coordinates[1] %>"></div>
		</div>
	</div>

	<% if @post.complete_user? %>
				<%= render_cell :posts, :complete, 
    :post => @post, :task => @task %>
		<% end %>


		<%= render_cell :posts, :join, 
    :post => @post %>
		


		<%= render :partial => "book_modal" %>

		<input type="hidden" id="realname" value="<%= current_user.realname %>">
		<input type="hidden" id="phone" value="<%= current_user.phone %>">
</div>

