<div class="row">
	<div class="span9">
		<div class="container-fluid bookdate-box ">
			<div class="post-detail">
				<div class="image">
				<%= image_tag @post.image %>
					<div class="social_share">
						<%= social_share_button_tag(@post.title) %>
					</div>
					<div class="tags">
	<i class="icon-tags"></i>
	<% @post.tags.each do |tag|  %>
		<span><%= link_to(tag.name, tag_post_path(tag)) %> </span>
	<% end %>
</div>
				</div>

					<div class="content">
						<p class="lead">书名
							<span><%= @post.title %></span>
						</p>

						<p class="lead">作者
							<span><%= @post.author %></span>
						</p>

						<p class="lead">出版社
							<span><%= @post.publisher %></span>
						</p>

						<p class="lead">价钱
							<span><%= @post.price %></span>
						</p>						

						<p class="lead">介绍
							<span><%= @post.description %></span>
						</p>

					</div>
					<div class="clearfix"></div>
					<div class="dream alert alert-success">
						<span class="label label-important">我想要</span>
						<%= @post.dream %>
					</div>
					<div class="action">
						<a href="#" class="btn">
							<i class="icon-heart-empty"></i>
							帮他实现</a>
					</div>
					
				</div>

			</div>
			<div class="bookdate-box" id="pin_comments">
				<%= render :partial => "comments/comment", :collection => @post.comments %>
			</div>

			<div id="reply" class="bookdate-box">
						<%= form_for(@comment, :remote => true, :html => { :class => 'form-horizontal' }) do |f| %>
		      <%= render "shared/error_messages", :target => @comment %>
			 <%= f.text_area :body,:class => "span8 replay_box", :rows => "4", :tabindex => "1", :style => "width:700px;" %>
        <div class="submit_buttons">
          <button type="submit" id="btn_reply" class="btn btn-primary" tabindex="2">提交回复</button><br />
          <span class="help-inline">Ctrl+Enter</span>
        </div>
        <%= f.hidden_field :post, :value => @post.id %>

		<% end %>
			</div>

		</div>
		<div class="span3">
			<div class="bookdate-box">
				<h4>地图</h4>
				<div id="post-map" data-lat="<%= @post.coordinates[0] %>" data-lng= "<%= @post.coordinates[1] %>"></div>
			</div>
		</div>
		
		<div class="span3">
			<div class="bookdate-box">
				<h4></h4>
	
			</div>
		</div>


		<div class="span3">
			<div class="bookdate-box">
				<h4>周边图书</h4>
	
			</div>
		</div>
	</div>
