<div class="row">
	<div class="span9">
		<div class="container-fluid bookdate-box ">
			<div class="post-detail">
				<div class="image">
				<%= image_tag @post.image %>
					<div class="social_share">
						<%= social_share_button_tag(@post.title) %>
					</div>
				</div>

					<div class="content">
						<p class="lead">书名
							<span><%= @post.title %></span>
						</p>

						<p class="lead">作者
							<span><%= @post.author %></span>
						</p>

						<p class="lead">出版社
							<span><%= @post.publisher %></span>
						</p>

						<p class="lead">价钱
							<span><%= @post.price %></span>
						</p>						

						<p class="lead">介绍
							<span><%= @post.description %></span>
						</p>

					</div>
					<div class="clearfix"></div>
					<div class="dream alert alert-success">
						<span class="label label-important">我想要</span>
						<%= @post.dream %>
					</div>
					<div class="action">
						<a href="#" class="btn">
							<i class="icon-heart-empty"></i>
							帮他实现</a>
					</div>
					
				</div>

			</div>
			<div class="bookdate-box" id="pin_comments">
				<div class="piece">
<a class="signature" href="/users/1" target="_blank">
<img alt="941056da1db23b2c0081e9c8d9416574" height="50" src="https://secure.gravatar.com/avatar/941056da1db23b2c0081e9c8d9416574.png?r=PG" width="50">
</a>
<div class="info_bar">
<b>hlcfan</b>
16:03:47 2012-08-23

<div class="holder pull-right">
<a class="rt" href="javascript:void(0)" id="hlcfan">回复</a>
</div>

</div>
<div class="messages" id="1190">
<p>无聊到爆！</p>

</div>
</div>


			</div>

			<div id="reply" class="bookdate-box">
				
				
			</div>

		</div>
		<div class="span3">
			<div class="bookdate-box">
				xxxx

			</div>
		</div>
	</div>
