<div class="row">
	<div class="span8">
		<div class="container-fluid bookdate-box ">
			<div class="post-detail">
				<div class="image">
				<%= image_tag @post.image %>
					<div class="social_share">
						<%= social_share_button_tag(@post.title) %>
					</div>
					<div class="tags">
	<i class="icon-tags"></i>
	<% @post.tags.each do |tag|  %>
		<span><%= link_to(tag.name, tag_post_path(tag)) %> </span>
	<% end %>
</div>
				</div>

					<div class="content">
						<p class="lead">书名
							<span><%= @post.title %></span>
						</p>

						<p class="lead">作者
							<span><%= @post.author %></span>
						</p>

						<p class="lead">出版社
							<span><%= @post.publisher %></span>
						</p>

						<p class="lead">价钱
							<span><%= @post.price %></span>
						</p>						

						<p class="lead">介绍
							<span><%= @post.description %></span>
						</p>

					</div>
					<div class="clearfix"></div>
					<div class="dream alert alert-success">
						<span class="label label-important">我想要</span>
						<%= @post.dream %>
					</div>
					<div class="action">
						<a href="#" class="btn">
							<i class="icon icon-trophy"></i>
							帮他实现</a>
					</div>
					
				</div>

			</div>
			<div class="bookdate-box" id="pin_comments">
				<% if @post.comments.size == 0 %>
					<div class="dream alert alert-info" id="comments_nil_display">
						还不赶快说两句~
					</div>
				<% end %>
				<%= render :partial => "comments/comment", :collection => @post.comments %>
			</div>

			<div id="reply" class="bookdate-box">
						<%= form_for(@comment, :remote => true, :html => { :class => 'form-horizontal' }) do |f| %>
		      <%= render "shared/error_messages", :target => @comment %>
			 <%= f.text_area :body,:class => "span8 replay_box", :rows => "4", :tabindex => "1", :style => "width:600px;" %>
        <div class="submit_buttons">
          <button type="submit" id="btn_reply" class="btn btn-primary" tabindex="2">提交回复</button><br />
          <span class="help-inline"></span>
        </div>
        <%= f.hidden_field :post, :value => @post.id %>

		<% end %>
			</div>

		</div>
		<div class="span4">
			<div class="bookdate-box">
				<h4>地图</h4>
				<div id="post-map" data-lat="<%= @post.coordinates[0] %>" data-lng= "<%= @post.coordinates[1] %>"></div>
			</div>
		</div>
		
		<div class="span4">
			<div class="bookdate-box">
					<h4>圆梦师</h4>
			<div class="accpt-accounts">
				<div class="image"><%= account_avatar_tag(current_account,:style => "48x48") %></div>
				<div class="name"><%= current_account.nickname %>

			<div class="accpt-action">
					<div class="dream alert alert-success">
						<i class="icon icon-ok"></i>
						已完成
					</div>

			</div>
				</div>
				<div class="accpt-info">
					<%= current_account.tagline %>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="accpt-accounts">
			
				<div class="image"><%= account_avatar_tag(current_account,:style => "48x48") %></div>
				<div class="name"><%= current_account.nickname %>

			<div class="accpt-action">
					<div class="dream alert alert-error">
						<i class="icon icon-remove"></i>
						未完成
					</div>

			</div>
				</div>
				<div class="accpt-info">
					<%= current_account.tagline %>
				</div>

				<div class="clearfix"></div>
			</div>
			</div>


		</div>


		<div class="span4">
			<div class="bookdate-box near-boks ">
				<h4>周边图书</h4>
				<% @nears.each do |n| %>
					<div class="image">
						<%= account_avatar_tag n.account, :style => "48x48" %>
					</div>

					<div class="iwant">
						<a href="<%= post_path(n) %>">
					<div class="dream alert alert-success">
						<span class="label label-important">我想要</span>
						<%=  n.dream %>
					</div>
					</a>
					<div class="clearfix"></div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
