<div class="row">
	<div class="span8">
		<div class="container-fluid bookdate-box ">
			<div class="post-detail">
				<div class="infos">
					<div class="pull-right">
						<%= account_avatar_tag(@post.account, :style => "48x48") %>
					</div>
					<div class="clearfix"></div>
					<div class="info leader">
						<%= link_to @post.account.nickname, user_path(@post.account) %><%= distance_of_time_in_words(@post.created_at,Time.now) %>前发布
						    •
						<%= @post.hits %>浏览</div>
				</div>
				<div class="content">
						<div class="image">
			<%= post_image_tag(@post, :style => "240x240") %>

							<div class="social_share">
						<span class="share-text">分享:</span>	<%= social_share_button_tag(@post.title) %>
				</div>
	</div>
				<div class="info">
						<p class="field">
						<span
						 class="label label-info">我借出</span> <%= link_to @post.title,"#betaModal", "data-toggle" => "modal", :rel => 'tooltip', :title =>'点击查看更多图书详情'  %>
						</p>	

	<p class="field">
						<span 
						 class="label label-info">我想要</span> <%= @post.dream %></p>

				<p class="field">
						<span
						 class="label label-info">微标签</span> 
						 <span class="tags">
						 	
	<% @post.tags.each do |tag|  %>
		<span class="tag"><%= link_to("##{tag.name}", tag_post_path(tag)) %> </span>
	<% end %>
						 </span>
						</p>

				<% if @post.state == Post::STATE[:success] %>
				<p class="field">
						<span rel="twipsy" "data-original-title" = "借出你的图书"
						 class="label label-info  ">微评价</span><span class="state"> <%= @post.rating_body %><%= raw post_rating_tag(@post.rating) %></span>
				</p>	
				<p class="field">
						<span rel="twipsy" "data-original-title" = "借出你的图书"
						 class="label label-success  ">微状态</span><span class="state"> <%= post_state_tag @post.state %></span>
				</p>
			

				<% end %>


				</div>
			

			
				</div>
				<div class="action">
						<% unless @post.wish_user_ids.include?(current_account.id) || @post.account.id == current_account.id %>
					<%= form_for(@post,:as => :post , :url => complete_wish_post_path(@post), :html => { :class => 'form-horizontal', :id => "complete_wish_form" }, :method => :post) do |f| %>
		      <%= render "shared/error_messages", :target => @post %>
						<a href="javascript:void(0)" class="label label-success" data-disable-with ="加载中...">
							参与进去</a>
					<% end %>
					<% end %>
				</div>


			</div>




		</div>
	<% if @post.comments.size == 0 %>
					<div class="dream alert alert-info" id="comments_nil_display">
						还不赶快说两句~
					</div>
	<% end %>


	<div class="bookdate-box" id="pin_comments" <%= "style=display:none;" if @post.comments.size == 0 %>>
	<%= render :partial => "comments/comment", :collection => @post.comments %>
	</div>

	<%= render :partial => "comments/comment_new", :post => @post, :comment => @comment %>



	</div>

	<div class="span4">
		<div class="bookdate-box">
			<h4>地图</h4>
			<div id="post-map" data-lat="<%= @post.coordinates[0] %>" data-lng= "<%= @post.coordinates[1] %>"></div>
		</div>
	</div>

	<% if @post.complete_user? %>
				<%= render_cell :posts, :complete, 
    :post => @post, :task => @task %>
		<% end %>


		<%= render_cell :posts, :join, 
    :post => @post %>
		

		<%= render :partial => "near_wish", :nears => @nears %>

		<%= render :partial => "book_modal" %>

</div>

