<% if @success %>
success
<% end %>
<div class="row">
	<div class="span9">
		<div class="container-fluid bookdate-box ">
			<div class="row-fluid">
				<div class="span4">
					<%= image_tag @post.image %>
					<div>
						<dl>
						<dt><h4>我想要</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.dream %></p>
							</blockquote>
						</dd>
					</dl>
						

					</div>

					<div class="social_share">
						<%= social_share_button_tag(@post.title) %>
					</div>
					
				</div>
				<div class="span6">

					<dl>
						<dt><h4>书名</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.title %></p>
							</blockquote>
						</dd>
					</dl>

					<dl>
						<dt><h4>ISBN</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.isbn %></p>
							</blockquote>
						</dd>
					</dl>

					<dl>
						<dt><h4>作者</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.author %></p>
							</blockquote>
						</dd>
					</dl>

					<dl>
						<dt><h4>出版社</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.publisher %></p>
							</blockquote>
						</dd>
					</dl>

					<dl>
						<dt><h4>价钱</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.price %></p>
							</blockquote>
						</dd>
					</dl>

					<dl>
						<dt><h4>介绍</h4></dt>
						<dd>
							<blockquote>
								<p><%= @post.description %></p>
							</blockquote>
						</dd>
					</dl>

					</div>
				</div>
			</div>
			<div class="bookdate-box" id="pin_comments">
				<div class="piece">
<a class="signature" href="/users/1" target="_blank">
<img alt="941056da1db23b2c0081e9c8d9416574" height="50" src="https://secure.gravatar.com/avatar/941056da1db23b2c0081e9c8d9416574.png?r=PG" width="50">
</a>
<div class="info_bar">
<b>hlcfan</b>
16:03:47 2012-08-23

<div class="holder pull-right">
<a class="rt" href="javascript:void(0)" id="hlcfan">回复</a>
</div>

</div>
<div class="messages" id="1190">
<p>无聊到爆！</p>

</div>
</div>


			</div>

			<div id="reply" class="bookdate-box">
				
				
			</div>

		</div>
		<div class="span3">
			<div class="bookdate-box">
				xxxx

			</div>
		</div>
	</div>
