<% @posts.each_with_index do |post,index| %>
<% if   index % 2 == 0 %>
<div class="post">
<% end %>
<div class="bookdate-box posts" data-type="image">
	<%= link_to image_tag(post.image), post_path(post) %>
	<% if post.complete_user? && post.state != Post::STATE[:success] %>
	<div class="end-state"><%= image_tag "rent.png" %></div>
	<% elsif post.state == Post::STATE[:success] %>
	<div class="end-state"><%= image_tag "ending.png" %></div>
	<% end %>
<p class="tags">
	<i class="icon-tags"></i>

	<% post.tags.each do |tag|  %>
		<%= link_to(raw("<span class='badge badge-info'>#{tag.name}</span>"), tag_post_path(tag)) %> 
	<% end %>
</p>
<p class="muted dream"><%= post.dream %></p>

<p class="post-footer"> 
	<%= raw item_count_tag("icon-eye-open","浏览(#{post.hits})", post_path(post), post.hits) %>
	<%= raw item_count_tag("icon-comment","评论(#{comment_count_tag(post)})",post_path(post),comment_count_tag(post)) %>
	<%= raw item_count_tag("icon-group","参与(#{join_count_tag(post)})",post_path(post),join_count_tag(post)) %>
</p>
<div class="clearfix"></div>
<div class="convo attribution clearfix"><p><a href="<%= user_path(post.user) %>" title="<%= post.user.name %>" class="img x"><%= user_avatar_tag(post.user, :style => "small") %></a><a href="<%= user_path(post.user) %>" class="author x"><%= post.user.name %></a>&nbsp;创建于&nbsp;<%= distance_of_time_in_words(post.created_at,Time.now) %>前</p></div>
</div>

<% if not  index % 2 == 0 %>
</div>
<% end %>
<% end %>
