<div class="span4">
<div class="bookdate-box">
		<h4>我会借给</h4>
		<div class="accpt-users">
			<div class="image"><%= user_avatar_tag(@post.complete_user,:style => "48x48") %></div>
			<div class="name"><%= @post.complete_user.name %>

		<div class="accpt-action">
			<% if  @post.user.id == current_user.id && @post.state == Post::STATE[:normal] %>
				<%= link_to "完成并评价","#completeModal",:class => "btn", :role => "button", "data-toggle" => "modal" %>
				<div class="modal" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	 	<%= form_for @post, :url => end_task_post_path(@post), :method => "POST", :html => { :class => 'form-horizontal' } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">对<%= @post.complete_user.name %>进行评价</h3>
  </div>
  <div class="modal-body">
  	<%= f.hidden_field :state, :value => Post::STATE[:success] %>
  	<%= f.text_area :rating_body,:class => "span4 ", :rows => "4", :tabindex => "1", :style => "width:500px;", :placeholder => "说点什么..." %>
  	<div class="rating-group">
  		<span class="rating">
  		  	<%= f.radio_button :rating,"1", :checked => true %>
  	<i class="icon-thumbs-up"></i></span>
  	<span class="rating">
  	<%= f.radio_button :rating,"0"  %>
  	 <i class="icon-thumbs-down"></i>
  	 </span>
</div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <%= f.submit "完成并评价" , :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
			<% else %>
			<% if @post.state == Post::STATE[:normal] %>
				<div class="alert alert-success"><i class='icon icon-refresh'></i> 进行中</div>
			<% elsif  @post.state == Post::STATE[:success] %>
				<div class="alert alert-success"><i class='icon icon-ok'></i> 已完成</div>
			<% else %>
				<div class="alert alert-danger"><i class='icon icon-remove'></i> 失败</div>
				<% end %>
			<% end %>
		</div>


			</div>
			<div class="accpt-info">
				<%= user_tagline_tag  @post.complete_user %>
			</div>

			<div class="clearfix"></div>



		</div>
</div>	
</div>
