<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <%= render_page_title %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <meta name="description" content="<%= @meta_description %>" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

      <%= stylesheet_link_tag    "application", :media => "all" %>
<!--[if lt IE 8]><link rel="stylesheet" href="/assets/bootstrap-ie7patches.css"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="/assets/bootstrap-ie8patches.css"><![endif]--> 


          <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>

    <%= javascript_include_tag "app" %>

    <%= csrf_meta_tags %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <script type="text/javascript">
    <% if current_user %>
      CURRENT_USER_ID = "<%= current_user.id %>";
      FAYE_SERVER = "<%= Setting.faye_server %>";
    <% end %>
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            <%= image_tag "logo.png" %>
            <span>书愿网<small>beta</small></span></a>
          <div class="container nav-collapse">

              <%= render_list :class => "nav" do |li|
            li << link_to("书单", main_app.posts_path)
            li << link_to("书友", main_app.near_me_users_path)
            li << link_to("社区", "/bbs")
          end  %>
  <% if user_signed_in? %>
  <ul class="nav pull-right">
    <li style="margin-top:10px;"><wb:follow-button uid="3064311803" type="red_2" width="136" height="24" ></wb:follow-button></li>
    <li>
      <%= notification_tag main_app.notifications_path %>
    </li>
     <li class="dropdown" id="user_menu">
    <%= link_to(raw("#{current_user.name} <b class='caret'></b>"), "#account_menu", :class => "dropdown-toggle", "data-toggle" => "dropdown") %>
    <%= render_list :class => "dropdown-menu" do |li|  
      li <<  link_to("我的主页", main_app.user_path(current_user)) 
      li <<  link_to("修改个人信息", main_app.edit_user_registration_path) 
      li <<  link_to("邀请", main_app.new_user_invitation_path) 
      li <<  link_to("退出", main_app.destroy_user_session_path, :method => :get) 
    end %>
  </li>
</ul>
  <% else %>
           <%= render_list :class => "nav pull-right" do |li|
            li << link_to("登录", main_app.new_user_session_path)
               end  %>
  <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row " id="top">
        <% if controller_name == "topics" %>
       <div class="span12 ">
        <ul class="breadcrumb menu clearfix">
          <li class="first last active"><a href="/">首页</a></li>
          <%= yield :breadcrumb %>
        </ul>
        
      </div>
      <% end %>
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
          <p id="back-top" >
  <a href="#top"><span></span>回到顶部</a>
</p>
        </div>
      </div><!--/row-->
      <footer>
        <p class="links">
          <a href="/bbs/topics/node_5087b6bab372956268000008">公告</a>|
      <a href="/bbs/topics/node_5087b6bab372956268000009">意见及反馈</a>
      <%= hot_cities %>
      | 粤ICP备12078650号
      <span class="pull-right">
        Handmade by <a href="/users/小三">小三</a>
      </span>
</p>
      </footer>


    </div> <!-- /container -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36101708-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>
