<!DOCTYPE html>
<html lang="en" >
  <head>
    <%= render_page_title %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <meta name="description" content="<%= @meta_description %>" />
<meta property="wb:webmaster" content="5a74311c51862b51" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

      <%= stylesheet_link_tag    "application", :media => "all" %>
<!--[if lt IE 8]><link rel="stylesheet" href="/assets/bootstrap-ie7patches.css"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="/assets/bootstrap-ie8patches.css"><![endif]--> 


          <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <%= javascript_include_tag "app" %>

    <%= csrf_meta_tags %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>
  <body>
    <script type="text/javascript">
    <% if current_user %>
      CURRENT_USER_ID = "<%= current_user.id %>";
      FAYE_SERVER = "<%= Setting.faye_server %>";
    <% end %>
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"  style="white-space: nowrap;">
            <%= image_tag "logo.png" %>
            <span>书愿网<small>beta</small></span></a>
          <div class="container nav-collapse">

              <%= render_list :class => "nav" do |li|
            li << link_to("书单", posts_path)
            li << link_to("书友", near_me_users_path)
            li << link_to("意见反馈", feedback_posts_path)
          end  %>
          <%= link_to("我有书",new_post_path, :class => "btn btn-primary",:id => "push_button")  %>
  <% if user_signed_in? %>
  <ul class="nav pull-right">
    <li>
      <%= notification_tag notifications_path %>
    </li>
     <li class="dropdown" id="user_menu">
    <%= link_to(raw("#{current_user.name} <b class='caret'></b>"), "#account_menu", :class => "dropdown-toggle", "data-toggle" => "dropdown") %>
    <%= render_list :class => "dropdown-menu" do |li|  
      li <<  link_to("我的主页", user_path(current_user)) 
      li <<  link_to("修改个人信息", edit_user_registration_path) 
      li <<  link_to("邀请", new_user_invitation_path) 
      li <<  link_to("退出", destroy_user_session_path, :method => :get) 
    end %>
  </li>
</ul>
  <% else %>
           <%= render_list :class => "nav pull-right" do |li|
            li << link_to("登录", new_user_session_path)
               end  %>
  <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div  id="top">
        <% if controller_name == "topics" %>

        <ul class="breadcrumb menu clearfix">
          <li class="first last active"><a href="/">首页</a></li>
          <%= yield :breadcrumb %>
        </ul>
        

      <% end %>
          <%= bootstrap_flash %>
          <%= yield %>
          <p id="back-top" >
  <a href="#top"><span></span>回到顶部</a>
</p>
      </div><!--/row-->
      <footer>
        <p class="links">
          © 2012－2012<a href="http://www.ibookwish.com/">书愿网 ibookwish.com</a>
       <a href="http://blog.ibookwish.com">博客</a>
       <a href="/about">关于</a>
       粤ICP备12078650号
      <span class="pull-right">
        Handmade by <a href="/users/小三">小三</a>
      </span>
</p>
      </footer>


    </div> <!-- /container -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36101708-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
